.imagesOne{
    margin: 0 auto;
}
.web{
    display: flex;
    margin: 0 auto;
}
.form{

    padding-left: 550px;

}
.input{

    margin-top: 5px;
    margin-left: 45px;

}
.input_1{

    padding-top: 0 auto;
    margin-left: 26px;

}
.input_2{

    padding-top: 0 auto;
    margin-left: 58px;

}
.data{

    padding-top: 0 auto;
    margin-left: 13px;

}
.pol_F{

    margin-left: 70px;

}
.ramka{

    width: 310px;
    height: 470px;

}
.phone{

    margin-left: 40px;

}
.raion{

    margin-left: 52px;

}
.col{

    margin-left: 109px;

}
.lic{

    margin-left: 68px;

}
.master{

    margin-left: 109px;

}
.text{

    margin-left: 109px;
    margin-top: -75px;

}
.sublim{

    padding-top: 40px;

}
.ramka_1{

    width: 315px;

}
.form_2{

    margin-top: -490px;
    padding-left: 350px;

}
.p_name{

    margin-left: 130px;
    margin-top: -43px;

}
.product{

    margin-top: 30px;

}
.creator{

    margin-top: -33px;
    margin-left: 130px;

}
.cantitatea{

    margin-top: 20px;

}
.amount{

    margin-left: 130px;
    margin-top: -40px;

}
.color{

    margin-top: 25px;

}
.color_choose{

    margin-left: 130px;
    margin-top: -33px;

}
.size{

    margin-top: 20px;

}
.size_class{

    margin-left: 130px;
    margin-top: -33px;

}
.form_3{

    margin-left: 350px;
    margin-top: 0px;

}
.ramka_2{

    width: 315px;

}
.visa_card{

    margin-left: 30px;

}
.master_card{

    margin-left: 20px;

}
.num_card{

    margin-top: 20px;

}
.input_number{

    margin-left: 130px;
    margin-top: -40px;

}
.expire{

    margin-top: 25px;

}
.card_date{

    margin-left: 130px;
    margin-top: -35px;

}
.buttons{

    margin-left: -350px;
    margin-top: 5px;

}
.final{

    margin-left: 0px;
    margin-top: -35px;

}
.ramka_3{

    height: 550px;
    width: 695px;

}
.new_form{

    margin-top: 35px;
    margin-left: 5px;

}